<!DOCTYPE html>
<html>
<head>
  <title>Ltm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "ltm/application", media: "all" %>
</head>
<body>
<h3>Ltm Plugin - Task Manager</h3>
<br>
<%= yield %>

</body>
</html>
